#subject-history {
    margin-top: 30px
}

#subject-science {
    margin-top: 17px
}

#subject-math {
    margin-top: 17px
}

#subject-english {
    margin-top: 17px
}

#subject-bible {
    margin-top: 17px
}

#subject-typing {
    margin-top: 17px
}

#subject-literature {
    margin-top: 17px
}

#submitBtn {
    margin-top: 17px
}

#first_name {
    margin-right: 10px
}