#subject-history {
    margin-top: 30px
}

#subject-science {
    margin-top: 17px
}

#subject-math {
    margin-top: 17px
}

#subject-english {
    margin-top: 17px
}

#subject-bible {
    margin-top: 17px
}

#subject-typing {
    margin-top: 17px
}

#subject-lit {
    margin-top: 17px
}

#submitBtn {
    margin-top: 17px
}

#first_name {
    margin-right: 10px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    max-height: 70vh;
    overflow-y: auto;
}

#close-modal {
    float: fight;
    font-size: 20px;
    cursor: pointer;
}

#modal-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}
.card {
    margin: auto;
    background: rgb(202, 215, 214);
  padding: 30px;
  border-radius: 16px;
  width: fit-content;
  /* max-width: 600px; */
  box-shadow: 0 20px 40px rgba(28, 29, 29, 0.2);
}
body {
    /* width: 100vh; */
    /* justify-content: center; */
    background-color: rgb(155, 192, 188);
    font-family: 'Segoe UI', sans-serif;
}

/* input {
height: 20px;
} */

.time {
    width: 50px;
    height: 20px;
}

.column-titles {
    display: flex;
    gap: 219px;
    font-weight: 1000;
}

.subject-rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.subject-rows p {
    margin: 0;
}

#title {
    text-align: center;
}